@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700");

body {
  margin: 0 auto;
  padding: 0;
  font-family: Roboto;
  font-size: 10px;
  line-height: 3.5em;
  font-weight: 300;
}

.nav-bar {
  background-color: rgb(25, 33, 41);
  padding-top: 14px;
  padding-bottom: 14px;
}

.nav-bar a {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

.nav-bar-ul {
  /* Warum nicht .nav-bar ul?*/
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}

.nav-bar-ul li {
  /* Warum nicht .nav-bar li?*/
  list-style: none;
  text-align: center;
}

.header {
  background-image: url("https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/ironhack-skydive-background.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}

.header h2 { 
  color: white;
  text-shadow: #020819 8px -20px 9px;
}

#general-information{
  display: flex;
  justify-content: space-evenly;

}

.container article{
  padding: 24px;
}

#structure >div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px auto 50px auto;
  width: 1200px;
}


#general-information .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;

}

#team hr {
  margin: 20px auto 30px auto;
  width: 40%;
}


#structure section{
  padding: 0;
  margin: 0 auto;
}

#schedule div{
 margin: 70px auto;
}



#structure h3{
  margin: 50px;
}

.schedule-table {
  margin: 0 auto 40px auto;
  font-size: 1.5em;
}

.schedule-table th,
.schedule-table td {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 5px 10px 5px 10px;
  text-align: center;
}

/*ohne folgende 2 selektoren funktioniert margin nicht, warum?*/
.container p {
  margin: 0 auto;
}

.container h3 {
  margin: 0 auto;
}

.dark-background {
  background-color: rgb(25, 33, 41);
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto condensed;
}

h1 {
  font-size: 9em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  line-height: 4em;
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 4.2em;
  text-align: center;
  line-height: 1em;
}

#team h3 {
  margin: 0 auto 10px auto;
}

h4 {
  font-size: 1.5em;
  letter-spacing: 0.4px;
  line-height: 1em;
  margin-bottom: 15px;
  /* abstand sonst zu gross, warum? */
  margin-top: 0px;
}

h5 {
  font-size: 1.2em;
  line-height: 1em;
  margin-top: 0;
  margin-bottom: 0;
}



.quote {
  font-size: 2.5em;
  position: absolute;
  left: 10%;
  bottom: 100px;
}

.text p {
  font-size: 2em;
  text-align: center;
  font-weight: 100;
  margin: 20px;
}

.link-btn a {
  background-color: rgb(67, 163, 230);
  color: white;
  font-size: 2em;
  font-family: Roboto condensed;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.5px;
  padding: 10px 30px;
}


.service-box article {
  font-size: 1.7em;
  text-align: center;
  border-style: solid;
  border-color: #eee;
  border-width: 2px;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #eee;
  margin: 20px 59px;
  width: 38%;
}

.service-box img {
  width: 125px;
  margin: 0;
}

#team.section-text p {
  font-size: 1.9em;
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

#team.member-name h4 {
  font-size: 1.5em;
  font-weight: 700;
}
#team img {
  width: 250px;
  height: 180px;
}

#team {
  padding: 70px 0;
  margin: 0 auto;
}

#team > div {
 display: flex;
 justify-content: space-evenly;
}

#team > div > article {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.footer {
  font-size: 1.9em;
  text-align: center;
  padding: 40px 100px 40px 100px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  color: rgb(67, 163, 230);
  text-decoration: none;
}

.footer ul {
  list-style: none;
 padding-left: 0;
 margin: 0 auto;
}



address {
  font-size: 0.8em;
  font-style: normal;
  line-height: 40px;
  margin-bottom: 25px;
}


.map-frame {
  height: 375px;
  width: 60%;
}
